* {
    box-sizing: border-box;
    font-size:medium;

}


button {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

label {
    font-family: sans-serif;
}

.board {
    display: flex;
    aspect-ratio: 1 / 1;
    height: 50vh;
    margin: 0 auto;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 0;
}

.tile {
    display: flex;
    border: 1px solid black;
    aspect-ratio: 1;
    width: calc(100% / 3);
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    color: blue;
}

.big {
    flex-wrap: wrap;
    justify-content: stretch;
    aspect-ratio: 1 / 1;
}

.preset {
    color: black !important;
}

.options, #stages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh auto;
}

.top {
    justify-content: space-between;
    margin: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 3vh auto;
    height: 2vh;
    aspect-ratio: 25 / 1;
}

.custom-button {
    position: absolute;
    left: 50%;
}

.custom {
    display: flex;
    justify-content: space-between;
    object-fit: none;
    position: relative;
    left: -50%;
}

.custom > button {
    height: 100%;
    margin: 5px;
}

.difficulty {
    aspect-ratio: 2 / 1;
    padding: 0.5vw;
    width: 10vw;
    min-width: 80px;
    border-radius: 10%;
    border: 1px solid black;
    background-color: rgb(131, 250, 250);
}

.difficulty:hover {
    background-color: rgb(24, 171, 171);
}

.swap {
    aspect-ratio: 1;
    margin: 0;
}

.focus {
    border: 2px blue solid;
}

.note {
    font-size: 1.3vh;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.note > div {
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: portrait) and (max-width: 750px) {
    * {
        margin: 0;
        font-size: 4vw;
    }

    a {
        font-size: 3vw;
    }

    .custom-button {
        top: 4%;
    }

    .board {
        height: calc(100vw * 0.75);
        margin: 5vh auto;
    }

    .info {
        height: auto;
        width: 75vw;
    }

    .difficulty {
        width: 20vw;
        min-width: 0px;
    }

    .tile {
        font-size: large;
    }

    .difficulty {
        font-size: 80%;
    }

    .note > div {
        font-size: 2vw;
    }
}